<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/dist/css/style.css">
    <title class="text-orange-200">Flowbite Flask</title>
  </head>
  <body>
    <div class="relative max-w-xl mx-auto mt-20">
      <img
        id="header-image"
        src="../static/dist/img/band.jpg"
        alt="image description"
      />

      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
  </body>
</html>
